body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.grid-2-small {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
  grid-template-columns: 70% 30%; }

.header {
  position: fixed;
  top: 0;
  width: 100%; }
  .header__menu {
    background-color: transparent;
    line-height: 3; }
  .header__icon {
    color: #c9c9c9;
    margin-left: .5em;
    font-size: 1.2em; }
  .header__icon-right {
    color: #c9c9c9;
    margin-right: .5em;
    text-align: right;
    font-size: 1.2em; }

.menu-top {
  position: fixed;
  top: 1.5em;
  z-index: 10;
  padding: 0.5em;
  right: -11em;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: left; }
  .menu-top__item {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 2; }
  .menu-top__link {
    text-decoration: none;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: .9em;
    color: #ffffff; }

.scroll {
  width: 100%;
  padding-top: 5em;
  padding-bottom: 8em;
  background: -webkit-gradient(linear, left top, left bottom, from(#5F6D8A), color-stop(50%, #000000));
  background: -webkit-linear-gradient(#5F6D8A, #000000 50%);
  background: -o-linear-gradient(#5F6D8A, #000000 50%);
  background: linear-gradient(#5F6D8A, #000000 50%); }
  .scroll__img-conten {
    width: 100%; }
  .scroll__conten {
    text-align: center; }
  .scroll__img {
    width: 200px;
    display: block;
    height: 200px;
    margin: auto; }
  .scroll__title {
    color: #ffffff;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: 1.4em; }
  .scroll__description {
    color: #ffffff;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-size: .8em;
    line-height: 2; }
  .scroll__button {
    background-color: #0ac442;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: .8em 1.2em;
    border-radius: 50px;
    font-family: "Franklin Gothic Medium", sans-serif;
    letter-spacing: 0.1em; }

.music {
  margin-top: 2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em;
  font-family: "Franklin Gothic Medium", sans-serif; }
  .music__title {
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 100;
    margin: 0; }
  .music__artista {
    color: #A1A1A1;
    font-size: .8em;
    font-weight: 100;
    margin: 0; }
  .music__icon {
    color: #5C5C5C;
    font-size: 1.3em;
    line-height: 2; }

.grid-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
  grid-template-columns: 10% 80% 10%;
  background-color: #222327;
  border-bottom: 2px solid #131313; }

.fixed {
  position: fixed;
  width: 100%;
  bottom: 0; }

.name {
  color: #ffffff;
  font-size: .9em;
  line-height: 2;
  text-align: center;
  font-family: "Franklin Gothic Medium", sans-serif; }
  .name__artista {
    color: #A1A1A1;
    font-size: .7em; }

.main-nav {
  background-color: #222327;
  padding: 1em 0.5em; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }
  .menu__item {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    text-align: center; }
  .menu__icon {
    display: block;
    padding-bottom: .2em; }
  .menu__link {
    color: #A1A1A1;
    display: block;
    text-decoration: none;
    font-family: "Franklin Gothic Medium", sans-serif;
    font-weight: 100; }
