$colorgreen:        #0ac442;
$color2:            #5F6D8A;
$dark:              #222327;
$color-icon:        #5C5C5C;
$color-icon-alt:    #c9c9c9;
$color-text:        #ffffff;
$color-text-alt:    #A1A1A1;
$font:        'Franklin Gothic Medium', sans-serif;;